@import '/css/syntaxHighlight.css';

.codium-color-square {
    padding: 0.5em;
    box-sizing: border-box;
	display: inline-block;
	width: 5em;
	height: 5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
	text-shadow: none;
	text-align: center;
	box-shadow: var(--text-shadow);
	vertical-align: middle;
}

.codium-color-square.light {
	box-shadow: 0.25em 0.25em 0.5em var(--text-dark);
}