---
eleventyExcludeFromCollections: true
layout: main.njk
image: codiumMain.jpg
title: Codium
description: A design system with snippets based components.
---
<header>
	<h1>{{title}}</h1>
	<p>{{description}}</p>
</header>
<main>
	<section>
		<h2>What Is Codium?</h2>
		<p>
			Codium is a design system that I created to be versatile enough to work on
			most any web development project. Rather than building components into one
			framework, I am supplying the HTML and CSS so it can be adapted regardless 
			of how the web looks in the future.
		</p>
		<p>
			It is loosely based on <a href="https://niljs.com" target="_blank" rel="noopener noreferrer">nil.js</a>
			a project I started a few years as a proof of concept to show many design 
			elements could be built without JavaScript.
		</p>
	</section>
</main>