---
layout: main.njk
tags: topLevel
backgroundImage: '/images/codium-rock.jpg'
backgroundImageTone: dark
title: Codium
description: A relaxing design system built on accessibility.
---
<main class="codium-content-page light">
	<article aria-labelledby="codium-explained">
		<h2 id="codium-explained">Codium Explained</h2>
		<section aria-labelledby="what-is-codium">
			<h3 id="what-is-codium">What Is Codium?</h3>
			<p>
				Codium is a design system with a snippet based component library
				<a href="https://niljs.com" target="_blank" rel="noopener noreferrer">nil.js</a>,
				a project I started a few years ago. The original 
				<a href="https://niljs.com" target="_blank" rel="noopener noreferrer">nil.js</a> 
				project was intended as a
				proof of concept to show most common design elements could be built without JavaScript
				and still be accessible.
			</p>
		</section>
		<section aria-labelledby="why-codium">
			<h3 id="why-codium">Why Codium?</h3>
			<p>
				Codium is free to use (licensed under creative commons share alike). It is also one of the
				few design systems that is WSAG AAA compliant. It provides soothing colors and has a 
				component library that uses snippets, it can be easily adapted to any web framework.
			</p>
		</section>
		<section aria-labelledby="prioritizing-accessibility">
			<h3 id="prioritizing-accessibility">Prioritizing Accessibility</h3>
			<p>
				When Codium was built the primary thing that was know was that it had to be accessible. 
				Every decision made about Codium has supported this. It is the intend of the Codium 
				design system to meet and, if possible, surpass expectations.
			</p>
		</section>
		<section aria-labelledby="learn-more">
			<h3 id="learn-more">Learn More</h3>
			<p>
				If you want to learn more about Codium, please check out the <a href="/specification">design specification</a>
				or the <a>component library</a>.
			</p>
		</section>
	</article>
</main>