---
eleventyExcludeFromCollections: true
layout: main.njk
image: codiumMain.jpg
background: '#000'
title: Codium
description: A design system with snippets based components.
---
<header>
	<h1>{{title}}</h1>
	<p>{{description}}</p>
</header>
<main>
	<article>
		<h2>An Overview of Codium</h2>
		<section>
			<h3>What Is Codium?</h2>
			<p>
				Codium is a design system that that was created using HTML and CSS snippets.
				It is loosely based on 
				<a href="https://niljs.com" target="_blank" rel="noopener noreferrer">nil.js</a>,
				a project I started a few years ago. The original 
				<a href="https://niljs.com" target="_blank" rel="noopener noreferrer">nil.js</a> 
				project was intended as a 
				proof of concept to show most common design elements could be built without JavaScript.
			</p>
		</section>
		<section>
			<h3>Why Codium?</h2>
			<p>
				Many design systems are built on components that require a particular framework.
				Codium uses HTML and CSS snippets. This allows the system to be implemented in 
				any framework.
			</p>
		</section>
		<section>
			<h3>When Should I not Use Codium?</h2>
			<p>
				If you need a quick design system to get off the ground quickly, 
			</p>
		</section>
	</article>
</main>