---
layout: main.njk
tags: topLevel
backgroundImage: '/images/codium-rock.jpg'
backgroundImageTone: dark
title: Design Specification
description:
---
<main class="codium-content-page light">
	<article aria-labelledby="codium-colors">
		<h2 id="codium-colors">Colors</h2>
		<p>
			Codium's color choices are designed to look pleasing together while maintaining a 7:1
			contrast ratio and being accomodating to a different neurotypes 
		</p>
		<section aria-labelledby="color-arabicum">
			<h3 id="color-arabicum">Arabicum</h3>
			<p>
				The sea weed species Codium Arabicum is blue-green species of sea weed that grows in
				the indian and pacific oceans.
				The color Arabicum is a relaxing blue/green, it can be useed to show that comfort is 
				here. It contains a dark and a light variety which produce a 7:1 contrast on either 
				the light or dark versions of kahakai (respectively).
			</p>
			<p class="center">
				<span class="codium-color-square dark" style="background-color: var(--color-arabicum-dark)">
					Arabicum Dark
					#146151
				</span>
				<span class="codium-color-square light" style="background-color: var(--color-arabicum-light)">
					Arabicum Light
					#41b69c
				</span>
			</p>
		</section>
		<section aria-labelledby="color-asta">
			<h3 id="color-asta">Asta</h3>
			<p>
				Astaxanthin is a chemical released when allege becomes stressed, in contradictory way,
				it is used often in medicinal solutions. Asta is a color that allerts the user that
				something is wrong, but shows them a path to repairing it.
			</p>
			<p class="center">
				<span class="codium-color-square dark" style="background-color: var(--color-asta-dark)">
					Asta Dark
					#870F0D
				</span>
				<span class="codium-color-square light" style="background-color: var(--color-asta-light)">
					Asta Light
					#E49F8B
				</span>
			</p>
		</section>
		<section aria-labelledby="color-kahakai">
			<h3 id="color-kahakai">Kahakai</h3>
			<p>
				Kahakai is a hawian word for beach. Used for background colors, Codium's Kahakai is a relaxing
				place where you can rest your content on.
			</p>
			<p class="center">
				<span class="codium-color-square dark" style="background-color: var(--color-kahakai-dark)">
					Kahakai Dark
					#131820
				</span>
				<span class="codium-color-square light" style="background-color: var(--color-kahakai-light)">
					Kahakai Light
					#e2e4df
				</span>
			</p>
		</section>
		<section aria-labelledby="color-hydrate">
			<h3 id="color-hydrate">Hydrate</h3>
			<p>
				Water is the basis for all life on earth. Similarly the web cannot exist without links.
				They are what make pages work and flow from one place to another. Hydrate is used
				for hyperlinks, buttons, and other things that make the web feel alive.
			</p>
			<p class="center">
				<span class="codium-color-square dark" style="background-color: var(--color-hydrate-dark)">
					Hydrate Dark
					#024f62
				</span>
				<span class="codium-color-square light" style="background-color: var(--color-hydrate-light)">
					Hydrate Light
					#2dc2d9
				</span>
			</p>
		</section>
	</article>

	<article aria-labelledby="codium-typography">
		<h2 id="codium-typography">Typography</h2>
		<p>
			One of the visual inspirations for Codium was the 
			<a target="_blank" href="https://rei.github.io/rei-cedar-docs/">Cedar Design System</a>
			The Stewart font, was utilized as it was also designed accessability first.
			Stewart is used in Codium primarily for headers. 
		</p>

		<p>
			For the content body Baloo Tammudu 2, from Google Fonts was used. It has a smooth
			curve style font that makes it readable at smaller sizes. This makes it ideal
			for a content body font.
		</p>
	</article>

	<article aria-labelledby="codium-spacing">
		<h2 id="codium-spacing">Spacing</h2>
		<p>
			Codium has spacing requirements relative to the font size of a container. 
			These will work out to pixel values but in general all codium components adhere to a 
			simple rule about padding and margins: <em>they should be done relative to font size.</em>
		</p>
		<section aria-labelledby="spacing-margins">
			<h3 id="spacing-margins">Margins</h3>
			<p>
				Codium mostly anticipates a vertical flow, to this end, most elements don't have 
				a side margin. Top margins will have a constant setting of <code>3rem</code>.
				Root font size is defined above in <a href="#codium-typography">Typography</a>.
			</p>

			<h4>Margin Sizing</h4>
			<dl>
				<dt>Top</dt>
				<dt>Bottom</dt>
				<dd><code>3rem</code></dd>
				<dt>Left</dt>
				<dt>Right</dt>
				<dd><code>0</code></dd>
			</dl>
		</section>
		<section aria-labelledby="spacing-padding">
			<h3 id="spacing-padding">Padding</h3>
			<p>
				Codium's padding follows two different rules. While the content page will have 
				<code>3rem</code> all around. Headers, footers, and other main elements will 
				have <code>5rem</code> on the sides and <code>1rem</code> above and below. 
			</p>

			<h4>Padding for Page Content</h4>
			<dl>
				<dt>Top</dt>
				<dt>Bottom</dt>
				<dt>Right</dt>
				<dt>Left</dt>
				<dd><code>3rem</code></dd>
			</dl>

			<h4>Padding for Headers and Footers</h4>
			<dl>
				<dt>Top</dt>
				<dt>Bottom</dt>
				<dd><code>1rem</code></dd>
				<dt>Left</dt>
				<dt>Right</dt>
				<dd><code>5rem</code></dd>
			</dl>
		</section>
	</article>
</main>