---
layout: main.njk
backgroundImage: '/images/codium-rock.jpg'
backgroundImageTone: dark
title: Design Specification
description:
---
<main class="codium-content-page light">
	<article aria-labelledby="">
		<h2 id="codium-colors">Colors</h2>
		<p>
			Codium's color choices are designed to look pleasing together while maintaining a 7:1
			contrast ratio and being accomodating to a different neurotypes 
		</p>
		<section aria-labelledby="color-arabicum">
			<h3 id="color-arabicum">Arabicum</h3>
			<p>
				The sea weed species Codium Arabicum is blue-green species of sea weed that grows in
				the indian and pacific oceans.
				The color Arabicum is a relaxing blue/green, it can be useed to show that comfort is 
				here. It contains a dark and a light variety which produce a 7:1 contrast on either 
				the light or dark versions of kahakai (respectively).
			</p>
			<p class="center">
				<span class="codium-color-square dark" style="background-color: var(--color-arabicum-dark)">
					Dark Arabicum
					#146151
				</span>
				<span class="codium-color-square light" style="background-color: var(--color-arabicum-light)">
					Light Arabicum
					#41b69c
				</span>
			</p>
		</section>
		<section aria-labelledby="color-asta">
			<h3 id="color-asta">Asta</h3>
			<p>
				Astaxanthin is a chemical released when allege becomes stressed, in contradictory way,
				it is used often in medicinal solutions. Asta is a color that allerts the user that
				something is wrong, but shows them a path to repairing it.
			</p>
			<p class="center">
				<span class="codium-color-square dark" style="background-color: var(--color-asta-dark)">
					Asta Dark
					#870F0D
				</span>
				<span class="codium-color-square light" style="background-color: var(--color-asta-light)">
					Asta Light
					#E49F8B
				</span>
			</p>
		</section>
		<section aria-labelledby="">
			<h3 id=""></h3>
			<p>
			</p>
			<p class="center">
				<span class="codium-color-square dark" style="background-color: var(--color--dark)">
					Dark
					#
				</span>
				<span class="codium-color-square light" style="background-color: var(--color--light)">
					Light
					#
				</span>
			</p>
		</section>
	</article>
</main>