---
layout: main.njk
css: component.css
---
<main class="codium-content-page light">
	<h2>Code example</h2>
	<style>
		#display-content {
			background-image: url('{{backgroundImage}}');
			padding-top: 5em;
			padding-bottom: 5em;
		}
	</style>

	<!-- Source Code Section -->
	<section class="dark">
	{% highlight "html" %}
	{{ content | safe }}
	{% endhighlight %}
	</section>

	<section class="dark" id="display-content">
		{{content | safe}}
	</section>
</main>