---
layout: main.njk
css: component.css
---
<main>
	<h1>{{title}}</h1>
	<p>{{description}}</p>
	<section id="display-content">
		{{content | safe}}
	</section>
	
	<!-- Source Code Section -->
	{% highlight "html" %}
	{{ content | safe }}
	{% endhighlight %}
</main>