<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--
		Copyright 2021 Arriana Blais
		Licensed under the Apache License, Version 2.0 (the "License");
		you may not use this file except in compliance with the License.
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Meta tags for social media -->
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:image" content="https://codium.com{{page.url}}{{image}}">
	<meta property="og:image:secure_url" content="https://codium.com{{page.url}}{{image}}">
	<meta property="og:url" content="https://codium.com{{page.url}}">
	<!-- Meta tags for twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<link href="/css/main.css" rel="stylesheet">
	<title>Codium - {{ title }}</title>
	<style>
	body {
		background-image: url('{{backgroundImage}}');
	}
	</style>
</head>
<body class="background {{backgroundImageTone}}">
	<header class="codium-header">
		<h1>{{title}}</h1>
		<p>{{description}}</p>
		<nav class="codium-top-nav">
			<ul>
			{%- for page in collections.all -%}
				<li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
			{%- endfor -%}
			</ul>
		</nav>
	</header>
	{{ content | safe }}
	<footer class="codium-footer dark">
		<p>Codium is &copy; 2021 Arriana Blais</p>
		<p>
			Background image is licensed under 
			<a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en"> 
				Creative Commons Attribution-Share Alike 3.0 Unported
			</a>
		</p>
		<p>
			Codium, and all other items licensed to Arriana Blais under
			<a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution-ShareAlike 4.0 International License
			</a>
		</p>
	</footer>
</body>
</html>