---
backgroundImage: '/images/codium-rock.jpg'
backgroundImageTone: dark
hideBackgroundInExample: true
title: Button
description: Buttons for actions and restyled links when applicable
---
<button class="codium-button">
    Click Here
</button>