---
backgroundImage: '/images/codium-rock.jpg'
backgroundImageTone: dark
title: Header
description: Heading for the top of a page
---
<header class="codium-header">
    <h1>Page Title</h1>
    <p>page subtitle (optional)</p>
    <nav class="codium-top-nav">
        <ul>
            <li><a href="#">First link</a>
            <li><a href="#">Second link</a>
            <li><a href="#">Third link</a>
        </ul>
    </nav>
</header>