---
backgroundImage: '/images/codium-rock.jpg'
backgroundImageTone: dark
title: Page
description: Page like area to place content on
---
<main class="codium-content-page light">
    <h2>You can place headings here</h2>
    <p>And content in paragraphs</p>
</main>