@mixin codium-footer {
	padding: var(--spacing-relative-small);
	margin-bottom: 0;

	text-align: center;

	box-shadow: none;

	text-shadow: var(--text-shadow);
	box-shadow: var(--box-shadow);
	background-color: var(--background-color);
	
	p {
		font-size: 0.8rem;
	
		margin: 0;
		padding-bottom: 0.25em;
	}
}
