:focus {
	outline: var(--underline-color) dashed 0.1rem;
}

.dark {
	--text-color: var(--text-light);
	--text-color-invert: var(--text-dark);
	--link-color: var(--link-light);
	--link-color-invert: var(--link-dark);
	--underline-color: var(--text-underline-light-cool);

	--text-shadow: 0.25em 0.25em 0.5em var(--text-dark);
	--box-shadow: 0.5em 0.5em 2em var(--background-light);

	--frosted-color: var(--background-dark-frosted);
	--frosted-color-invert: var(--background-light-frosted);
	--background-color: var(--background-dark);
	--background-color-invert: var(--background-light);

	--error-color: var(--color-asta-light);
	--error-color-invert: var(--color-asta-dark);
	
	color: var(--text-light);
}

.light {
	--text-color: var(--text-dark);
	--text-color-invert: var(--text-light);
	--link-color: var(--link-dark);
	--link-color-invert: var(--link-light);
	--underline-color: var(--text-underline-dark-cool);

	--text-shadow: 0.25em 0.25em 0.5em var(--text-light);
	--box-shadow: 0.5em 0.5em 2em var(--background-dark);

	--frosted-color: var(--background-light-frosted);
	--frosted-color-invert: var(--background-dark-frosted);
	--background-color: var(--background-light);
	--background-color-invert: var(--background-dark);

	--error-color: var(--color-asta-dark);
	--error-color-invert: var(--color-asta-light);

	color: var(--text-dark);
}

.background {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}